apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      containers:
        - name: devops
          image: oussema22/atelier-devops:latest
          ports:
            - containerPort: 8081

